<h1>Staff Page</h1>
<p>We are always looking for new members to join the staff team and help with events</p>
<p>It is ideal if you have some background in MPC events and hillwalking</p>
<p>Please get in touch with a member of staff of the Coordinator in order to join </p>
<br>
<p><button type="button"><%= link_to 'Home Page', root_path %></button></p>