<!-- Information presented to user on this file -->
<h1>Equipment and Skills</h1>

<h2>Equipment</h2>
<p>As you will be carrying all your equipment for the weekend we recommend you pack smart!</p>
<p>Below are some essential items we feel you should bring:</p>
<p>
	<li>A good rucksack for carrying it all</li>
	<li>Good quality but lightweight tent</li>
	<li>Trangia or similar gas stove for cooking</li>
	<li>Good quality rain jacket and rain trousers</li>
	<li>Gaitors to keep your feet dry</li>
	<li>Warm sleeping bag and good quality ground mat</li>
	<li>Bivvy bag</li>
	<li>Map and Compass</li>
	<li>Head torch</li>
	<li>Spare socks for wet feet</li>
	<li>Lightweight clothes e.g. Airtex t-shirts and hiking trousers</li>
	<li>Hat and Gloves - it gets cold at night!</li>
	<li>Toilet Roll and a Trowel for when nature calls!</li>
</p>

<h2>Skills</h2>
<p>The following skills are seen as very important to learn and practice before an MPC</p>
<p>This is not an exhaustive list and other skills will be required</p>
<p>
	<li>Navigation at day and night, and in all weather conditions</li>
	<li>Tent pitching in the dark and in bad weather</li>
	<li>Team work</li>
	<li>Walking with a heavy pack</li>
	<li>Cooking on a Trangia - not as easy as people think!</li>
	<li>MPCs aim to build Scouts' skills so try not to rely on your leader on the event</li>
	<li>Skills will be tested along the route at checkpoints</li>
</p>

<h2>Menu</h2>
<p>We have provided a smaple menu for the MPC event as we feel the some scout troops</p>
<p>often bring unsuitable types and unneccessary amounts of food to events</p>
<h3>Friday Night</h3>
<p>Keep it simple and eat dinner before you come</p>
<p>Have a cup of tea/hot chocolate and a biscuit</p>

<h3>Breakfast</h3>
<p>We recommend something simple that can be made quickly</p>
<p>A favourite of staff is the Quick Oat porridge tubs that only need boiling water, or Weetabix</p>
<p>These food types provide slow release energy throughout the day</p>
<p>Avoid cooking frys etc. as this takes time and effort to make and clean up, with little nutritional value</p>

<h3>Lunch and Snacks</h3>
<p>Bring a prepacked lunch with sandwiches, fruit, and some other snacks like crisps and chocolate for energy</p>

<h3>Dinner</h3>
<p>We recommend bringing precooked food that can be heated up as you will tired after a long day</p>
<p>Try to avoid cooking meals from scratch as this will increase food carried and waste carried out</p>
<p>Also, avoid Pot Noodle type meals as these have no nutrional quality</p>
<p>Some favourites are:</p>
<p>Chicken curry with boil in the bag rice</p>
<p>Filled pasta with a sauce</p>
<p>Chilli con carne with boil in the bag rice</p>

<p>These are just some examples to help you prep your food for the event<p>
<button type="button"><%= link_to 'Home Page', root_path %></button> 

