<h1>Equipment and Skills</h1>

<h2>Equipment</h2>
<p>As you will be carrying all your equipment for the weekend we recommend you pack smart!</p>
<p>Below are some essential items we feel you should bring:</p>
<li>Good quality rain jacket and rain trousers</li>
<li>Warm sleeping bag and good quality ground mat</li>
<li>Bivvy bag</li>
<li></li>

<p>Also contain sample menus/food lists</p>
<%= link_to 'Home Page', root_path %>

