<h1>Connacht MPC 2014, Partry Mountains, 26,27,28 September 2014</h1>
<p>OSI Map Sheets: 37 and 38</p>
<h2>Introduction</h2>
<p>This will be the MPC's first visit to the Partries, and the route for this weekend will take in Devilsmother and part of Maumtrasna. These mountains are mostly grassy underfoot with steep sides and some nice ridges. If the weather is favourable the views in all directions are magnificent. For much of Saturday's route you will be following a fence which can be a useful navigation aid in poor visibility – but be sure to keep an eye on your map and compass as the fence can also lead your team astray (especially on the Maumtrasna section). If you need to cross a fence where there's no break, remember to do so at a strong post in order to cause as little damage as possible.</p>
<br>
<h2>Friday</h2>
<p>Lough Nafooey 953 600 -> Low Camp 932 612
Please check in with staff before heading off. Leave carpark in a westerly direction and head along the main road for about 400m before following a lane on your right hand side in a north westerly direction. There are a number of farmhouses around here so ensure you keep the noise down. At the top of the lane, there is one more farmhouse. Follow the track around the back of the barn, through 2 gates and downhill towards a small concrete bridge at 933 610. From the bridge head out across open ground to Low Camp at 932 612. The route will be marked out with flashers and there are plenty of good camping spots.</p>
<br>
<h2>Saturday</h2>
<p>Low Camp 932 612 -> End of Spur 929 607
Check out with a staff member having ensured your site is spotless. Head uphill to the gate in the corner of 2 fences, go through the gate and head in a south westerly direction to reach the end of the spur. 
End of Spur 929 607 -> Spot Height 509 917 616
This is a tough climb of 460 meters. Take your time ensuring you stay on top of the spur, ground should be sloping away from you on your left and your right. This will make the climb a little easier.
Spot Height 509 917 616 -> Devilsmother 916 624
Drop down into the col and then back up about 150 meters to the summit of Devilsmother. From the top, you will able to see the mighty Mweelrea which is the highest mountain in Connaught and Killary Fjord to the west if the weather is kind. You should also be able to pick out The Sheeffrys, the Maumturks and The 12 Bens. Orientate your map and have a go.</p>
<p>Devilsmother 916 624 -> Col 930 629 via Ridge turn 918 628
As mentioned earlier, you will be able to follow a fence for a lot of this walk. Descend from Devilsmother initially north for 200 meters before following the ridge in a north easterly direction for about 400 meters. At this point, one ridge heads off in a northerly direction and along another ridge in an easterly direction. Keep a close eye here on your compass so you pick up the correct ridge!
Col 930 629 -> Spot Height 518 935 631
Handrailing the steep ground on your left, make the ascent to this spot height ensuring you stay on top of the ridge. This is a steep section, so take your time and zig zag to make life a little easier.
Spot Height 518 935 631 -> Edge of Small Bowl 955 625
Take a bearing down into the col which has 2 small lakes (not shown on the map). From here uphill again and aim to handrail on 580m contour with the cliffs on your left hand side. You will reach the back of a small bowl at 955 625. Plateaus can be difficult to navigate in bad conditions, accurate compass work and timing or pacing will be vital here.
Edge of Small Bowl 955 625 -> Cliff Edge 965 625
Head in an easterly direction until you meet the cliff edge.</p>
<p>Cliff Edge 965 625 -> End of Steep Ground 969 612
Take great care while descending this spur. The ground underfoot is good, with lots of grassy ridges but be sure to zigzag and take your time as your team will be tired by this stage. 
End of Steep Ground 969 612 -> High Camp 971 619
As the ground on your left levels out, follow a bearing in a north easterly direction until you hit a river. Follow this river uphill for a few hundred meters until you reach High Camp. Take care if crossing fences. This is a really nice campsite so get comfortable, get some dinner on and relax.</p>
<br>
<h3>Bad Weather Route</h3>
<p>Low Camp 932 612 -> Col 930 629
If weather is particularly bad and we think we will be pushed for time, we can head straight up to Col 930 629. From here, Devilsmother may be attempted carrying just the essentials before continuing route as normal. This would save approximately one hour.</p>
<br>
<h2>Sunday</h2>
<p>High Camp 971 619 -> Beach 953 600
Before leaving high camp, ensure your site is clean and check out with a member of staff. Follow the river downhill for 1.5km approx. until you reach thick bushes. You should stay on the left-hand bank of the river between the river and the fence. There is a path through the bushes which will be marked with flags. This runs just east of the river. This track connects up with the main road through a gate. Once you reach the main road, head west to finish on the beach at Lough Nafooey. 
Congratulations on finishing the Connaught MPC 2014! MPC t-shirts (€10) and hoodies (€12) will be on sale in the car-park.</p>

<%= link_to 'Connacht', connacht_routes_path %>






