<h1>Leinster MPC Wicklow Mountains 7th, 8th, 9th May 2010. </h1>
<p>Map: OS Map Sheet 56. The Harveys Wicklow Mountains 1:30,000 map also covers the route.</p>
</n>
<p>Directions to start</p>
<p>The start is at O 044108. From Blessington, take the local road which crosses Blessington Bridge (O990 144) and follow signs to Lacken Village. Keep left at Y junction at O 012 110 and continue uphill along a narrow ( and badly surfaced) road to the saddle at O 044 108 where there is carpark/ viewpoint.
Additional parking available by the roadside on the eastern side of the saddle and at the forest entrances at O 058 17 and O 060 122 [if you use these you’ll have a shorter road walk on Sunday]
If using the R 759 Kilbride to Sally Gap road, be advised that Ballysmutten Bridge at O 057 148 was destroyed in a storm in late 2008.</p>

<h2>Route Overview:</h2>
<p>The Friday route follows a well-worn track to Black Hill ( O 042 090) before dropping to Basecamp. Saturday’s route takes us to Mullaghcleevaun, at 849m the second highest mountain in Wicklow. The route continues over Mullaghcleevaun- East Top, Duff Hill and Gravale. High Camp is located on the banks of Lugduff Brook at O 086 099. Sundays route is mainly along forest tracks.</p>

<p>Route Description Friday </p>
Carpark O 044 108 to Black Hill O 042 090. Follow the well-marked track to Black Hill. Black Hill O 042090 to Basecamp O 040 080.
From Black Hill descend to the campsite near Cock Brook.

<p>Saturday</p>
<p> As the route does not cross a river for some distance on Saturday, teams should stock up with water before leaving Basecamp.
Basecamp to Billy Byrne's Gap O 044 067
Follow the course of Cock Brook to the Col at about 600m.
Billy Byrne's Gap to Mullaghcleevaun O 067 071
Follow the spur initially across gently rising ground before a series of steps takes you to the peak of Mullaghcleevaun. Take your time as this is the toughest climb of the day.Weather permitting, there are extensive views of Blessington and the plains of Kildare to the West; Kippure and the Dublin Mountains to the North; Tonlegee, Turlough Hill and Lugnaquilla to the South; the Irish Sea to the East..
Mullaghcleevaun to Col O 078 068.
Descend towards the Col, keeping clear of the steep ground on your left that overlooks Cleevaun Lough far below. The Col itself can be very boggy after rain, so you may wish to keep to the north side of it.
Col to Mullaghcleevaun- East top O 082 066.
From the Col climb towards Mullaghcleevaun East top with its rocky outcrops.
Mullaghcleevaun- East Top to Col O 089 079. Descend across rough boggy ground to the col.
Col to Duff Hill O 094 082 - Climb to Duff Hill, marked by a cairn.
Duff Hill to Col O 0100 085
Col to Gravale O 105 094 - your last climb of the day is to the top of Gravale
Gravale to Lugduff Brook. Descend in a NW direction towards the source of Lugduff Brook and then follow the stream to approx O 093 104.
Lugduff Brook to High-camp ( O 086 099)
Contour around the base of Crocknaglugh until you reach Laverney Brook. High-camp is located alongside the stream at O 086 099.</p>

<p>Sunday</p>
<p>High Camp to forest corner ( O 085 103)
Follow the Laverney Brook downstream until you reach the corner of the forest.
Forest corner to Coillte sign (O 077 105) Proceed along the southern boundary of the forest for about 1k until you reach a Coillte Walking Route marker at O 077 105.
Coillte sign to bend on forest track (O 064 127)
From the Coillte sign, join the forest track marked on the OS map which is clearly visible through the trees. Follow this track for about 2.5k to a distinct hair-pin bend at O 064 127.
Forest track to road
Continue on the main track ignoring the track running off to your right.
About 200m after that track junction, there is a large clearance in the forestry on your right at O 162 123 . Leave the track here, cross the river and climb uphill to the road at O 060 123.
Return to Carpark
Turn left and return to the carpark along the road.
Well Done!</p>

<p>MPC t-shirts (€8) will be available to purchase at the carpark.</p>
<%= link_to 'Leinster Routes', leinster_routes_path %>