<h2>Previous Leinster MPC Routes</h2>
<!-- index page for leinster routes displaying routes for the province --> 

<p><button type="button"><%= link_to 'Leinster 2010', 'Leinster2010' %></button></p>

<button type="button"><%= link_to 'Routes Homepage', controller:'routes' %></button>