<h2>Previous Munster MPC Routes</h2>
<!-- index page for munster routes displaying routes for the province --> 
<p><button type="button"><%= link_to 'Munster 2015', 'Munster2015' %></button></p>

<%= link_to 'Routes Homepage', controller:'routes' %>