<h1>Munster MPC, Galty Mountains, 10,11,12 April 2015</h1>\
<p>OS Map Sheet 74 (1:50000)</p>
<h2>The Galtys</h2>
<p>The Galty’s are an east-west ridge of mountains composed of red sandstone, roughly 25km’s in length. Their southern slopes feature numerous spurs, which are divided by a variety of valleys. The northern slopes fall more steeply and directly into the Glen of Aherlow. There are five corrie lakes, Lough Muskerry being the largest. Galtymore is the tallest inland mountain in Ireland, and the only inland peak to exceed 3000 feet. At 919m/3018ft is the 14th highest peak in Ireland and qualifies as an Irish Munro (properly, though almost never, called a Furth i.e. a 3,000ft peek “outside” (furth) of Scotland.</p>
<br>
<h2>Route Overview</h2>
<p>The walk on Friday night follows a series of forest roads into a valley to the south west of Galtymore. Low camp is located just beyond the end of the woods beside a stream, at the site of a ruined cottage.

Saturday: teams will make their way onto the main Galty ridge by a saddle to the west of the campsite then NNW to Carrignabinnia. From there, they will follow the Galty Wall (which is approx 3km’s in length and begins at Lyracappul to the west) to its eastern end via Slievecushnabinnia (the spur to the north is a popular assent route from the Limerick side). From Slievecushnabinnia the route turns east along the ridge, first onto the twin summits of Galtymore, then over Galtybeg and spot height 786. Shortly after this, O’Loughnan’s Castle will be reached. Weather and time permitting a short out & back extension will allow you tick the final 800m point on the ridge; from there a spur is followed south down into the Glengarra valley. High camp is located between two streams near the north western corner of the Glengarra Woods.

Sunday: A stream is followed from high camp up to the col north of Knockeenatoung. From here part of the ‘Black Road’ – an old turf track to Galtybeg - is followed south before a minor track leads down to Coopers Wood. A path leads down through the trees to a river-side forest track, which is followed back to the car park.</p>
<br>
<h2>Friday</h2>
<p>Leave the car park from the NE corner and follow the forest track in a NNW direction.At R875 196, take the left fork (take care, as the right track leads to a private dwelling).Shortly after this the road U-Turns around to the left to SSW and heads more steeply uphill. After 300m at R873 195 U-turn Right to NNW and continue down to a forest road junction (R871 201)</p>
<p>From the junction, continue straight on in a northerly direction, with farm sheds on your right. Stay right at all subsequent track junctions as the track turns north-easterly in direction and makes its way down to the stream at R872 209. Stay on the track with the stream on your right and, heading uphill again, follow the track to the forest fence (868 217)</p>
<p>Cross the fence onto the open hillside. A path of sorts leads down to the stream junction at R868 220. Cross at the wooden bridge, and check in at the ruined cottage (not shown on the map) under the small copse of trees</p>
<br>
<h2>Saturday</h2>
<p>Return to the bridge to cross the river and then follow the river NW.  After approx. 250m aim to the col.
The River coming down from the col is in a deep gully with steep sides, stay south of it.  
There are drainage cuts in the upper part of the slope and col.  Easily crossable, but deep, exercise caution</p>
<p>Turn right on the col and follow the line of the spur North to Carrignabinnia.  As you ascend, the top of Galtymore will become visible to the East; and in front, to the left, on the ridge, you may see the Galty wall stretching from Lyracappul to Carrignabinnia.</p>
<p>Follow the wall NE.Continue to follow the wall – be aware of the steep drops to the N (on your left) over Lough Curra. 
The wall turns NE and ends as the ground changes to eroded bog at R871 235.  From the end of the wall, follow a bearing up some steep ground to the western end of the flat area (R875 236) then proceed to the summit at the eastern end, marked by both a Cross and a trig point.  At 919m Galtymore is a Irish Munroe and the high point of the MPC.</p>
<p>NOTE: Galtybeg is the 799m peek at R890 241; not the 786m at R911 239 as marked on some maps</p>
<p>Descend from Galtymore taking care of the cliffs above Lough Diheen, and continue to Galtybeg.
Continue to watch the cliff on your left as you descend Galtybeg and ascend to spot height 786m
The ridge after 786m bends a little to the south east, before turning eastward again. At the end of the flat summit area, drop shortly down to O’Loughnan’s Castle
The final 800+m peak on the Galty’s, Greenane, is 800m further East along the ridge (R925 239) if you want to do a quick out and back to “bag it”. Gain the small rise (R917 238) after O’Loughnan’s Castle, and follow the spur south down to the edge of the Glengarra Woods. Here turn right and follow the forest boundary to the north western corner. Cross the first stream and check in at high camp</p>
<h2>Sunday</h2>
<p>Check out at high camp and follow the steam to the stream junction at R906 222. Cross the stream before the junction and follow it uphill to the stream bend at R897 224. From here go directly up to the col.
Stop for a moment at the monument remembering 3 pilots killed in a small plane crash in 1976.</p>
<p>Cross the fence where indicated by staff, and follow a path down through the trees to meet a forest track on the valley floor.Turn left and follow the forest track beside the river. At R876 199 the track emerges onto a surfaced road. Turn left and after a few meters turn right onto a track which is followed back to the road below the car park at R880 199. Turn right on the road and follow it up to the car park. Well done you finished the MPC</p>

<p>MPC t-shirts (€8) will be available to purchase at the carpark.</p>
<%= link_to 'Routes Homepage', controller:'routes' %>







