<h1>Ulster MPC 2014, Mourne Mountains, 17th - 19th October</h1>
<h2>Information</h2>
<p>The route will run from Carrick Little Car Park(345 219 ) in the south of the range to Tollymore Forest Car Park (344 325 )at the northern end of the range. En route, teams will have an opportunity to reach the summit of Slieve Donard ( 853 m) the highest point in Ulster.The assembly point for the MPC is at Tollymore Forest Car Park (344 325 ), not to be confused with the car park of Tollymore Mountain Centre (327 323).Travelling from Newry, Tollymore is best reached via Hilltown and Bryansford Road.</p> 
<p>Mountaineering Ireland, the national governing body for hillwalking and climbing, will be holding its Autumn Meet in the Mournes over the same week-end. Mountaineering Ireland is laying on a coach to take scouts from Tollymore Forest Car Park to the start of the MPC route at Carrick Little. The coach will leave Tollymore at 8.30 pm with a second run at 9.30 pm. Teams that miss the coach will have to make their own way to Carrick Little. (Carrick Little is best reached from Newry via Warrenpoint, Rostrevor and Kilkeel). Please call or text 353872440118 if your team is running late for the coach transfers. The same number should be used if your team is unable to attend the MPC.</p>
<p>After the MPC ends on Sunday morning, Mountaineering Ireland is offering scouts an opportunity to use the Hotrock climbing wall at Tollymore Mountain Centre (327 323).  Places are limited so teams should advise the MPC Coordinator by email as soon as possible if they wish to take part.
The MPC Team is grateful to Mountaineering Ireland for its support in running this MPC.</p>
<br>
<h2>Friday</h2>
<p>From Carrick Little car park (345 219), proceed in a northerly direction along an unpaved road bounded by high stone walls until you reach a gate at 344 228.Beyond the gate, the track pulls away from the stone wall on your left and proceeds in a NW direction passing a forest on your right.  
Shortly after the end of the forest, there is a track junction at 334 243. Take the track on the right, cross the stream and continue on to another track junction at 336 250.Follow the track on the right for about 1 km before dropping down to Basecamp at 342 258.</p>
<br>
<h2>Saturday</h2>
<p>Climb up to the track that runs below the rocky outcrops at Lower Cove (340 260).  Follow this track in a northerly direction for about 2km passing below Cove Mountain and Slieve Beg until you reach the Brandy Pad at 345 278. The Brandy Pad is an old smugglers route from the coast. Follow the Brandy Pad in a SE direction for a short distance below an unusual rock formation known as The Castles. Then turn NE and make your way to a large stile over the Mourne Wall at 350 279.
Leave your gear here and follow the Wall in an easterly direction as it climbs over steep ground to Slieve Donard (853m),  the highest point in Ulster. </p>
<p>On a good day, the views are superb. To the N, you may be able to see the yellow gantries of the former Harland and Wolfe shipyards in Belfast. To the NE, you may see the Isle of Man. To the S, you may see Howth and the Wicklow Mountains. To the E, you may see Lough Neagh, the largest lake in Ireland. Return to the col where you left your gear and climb in a W/ NW direction along by the Wall towards Slieve Commedagh. The summit is a short distance NE of the Wall at 346 286.
Return to the Wall. For safety reasons, cross over the stile at 344 284 to the S side of the Wall. </p>
<p>Follow the Wall in a NW direction bypassing the Pot of Legawherry on the N side of the Wall until you reach Slievenaglogh at 327 291.Continue W/SW alongside the Wall for a short distance until you reach a stile at 324 290. 
Cross over the stile to the N side of the Wall. Descend in a N direction for more than 1 km towards Luke’s Mountain. When you reach level ground at 328 301, turn E and descend into the valley between Luke’s and Slievenabrock. 
High Camp is located at on the banks of the Cascade River at 337 301.</p>
<br>
<h2>Sunday</h2>
<p>From High Camp, descend in a N direction towards Tollymore Forest Park. 
Pick up a forest track at 336 311 and follow it in a N/NE direction for about 1.5 km to reach a bridge over the Shimna River. 
Cross the bridge, turn right and walk for about 400m to a track junction. 
Turn left and walk for another 250m to a track junction.Turn left and follow the track to the car park at 344 325. </p>

<p>Well done you finished the MPC. MPC hoodies and t-shirts will be on sale after the MPC, priced at €15 and €10 respectively.
</p>
<%= link_to 'Back to Ulster', ulster_routes_path %>
