<h1>Contact Us</h1>
<p>To make a booking for an MPC event
please email mpcbookings@gmail.com</p>
<p>Join us onudwedenwh
<a href="https://www.facebook.com/groups/307440059168/">Facebook</a></p>
<br>
<p><button type="button"><%= link_to 'Home Page', controller: root_path %></button></p>

