<h1>Contact Us</h1>
<p>to make a booking for an MPC event
please email mpcbookings@gmail.com
<p>Join us on
<a href="https://www.facebook.com/groups/307440059168/">Facebook</a></p>
<br>
<%= link_to 'Home Page', root_path %>