<h1>Contact Us</h1>
<p>To make a booking for an MPC event please email mpcbookings@gmail.com</p>
<br>
<h3>Dates for 2016 MPCs are:</h3>
<p>Munster: April 8-10, Mangerton Mountain, Co.Kerry</p>
<p>Leinster: May 6-8, Venue TBA</p>
<p>Connacht: September 23-25, Venue TBA </p>
<p>Ulster: October 13-15, Mourne Mountains</p>
<br>
<h3>Dates for 2017 MPCs are:</h3>
<p>Munster: April 7-9</p>
<p>Leinster: May 5-7</p>
<p>Connacht: September 22-24</p>
<p>Ulster: October 13-15</p>
<p>2017 venues are still be decided</p>
<br>
<p>Join us on
<a href="https://www.facebook.com/groups/307440059168/">Facebook</a></p>
<p><button type="button"><% link_to 'Facebook Page', "https://www.facebook.com/groups/307440059168/" %></button></p>
<br>
<p><button type="button"><%= link_to 'Home Page', root_path %></button></p>