// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ff: 'arial';
$bg: #f2f2f2;

body{
	//background-image: url("http://d5qsyj6vaeh11.cloudfront.net/images/destinations/backgrounds/314_bg_mournes.jpg");
	background: $bg;
	font-family: $ff;
	text-align: center;
}

h1{
	padding: 10px;
	align: middle;
}

p{
	color: black;
}

button{
	background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
table{
	display: inline-block;
	
}